@model UvTestViewer.Models.RenderingTestOverview

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ultraviolet Rendering Tests</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Styles/Main.css")" />
</head>
<body>
    <div class="testrun-header">
        <h1>Ultraviolet Rendering Tests</h1>
        @if (Model.TestRunID == 0) {
            <h2>No tests have been run on @Model.VendorDisplayName hardware.</h2>
        } else {
            <h2>Test run #@Model.TestRunID processed at @Model.TimeProcessed</h2>            
        }
    </div>
    <div class="testrun-subheader">
        <a href="@Url.Action("Index", new { vendor = "intel" })" class="vendorlink Intel @(Model.Vendor == UvTestViewer.Models.GpuVendor.Intel ? "selected" : "")">
            <span>Intel HD Graphics</span>
        </a><a href="@Url.Action("Index", new { vendor = "nvidia" })" class="vendorlink Nvidia @(Model.Vendor == UvTestViewer.Models.GpuVendor.Nvidia ? "selected" : "") ">
            <span>NVIDIA</span>
        </a><a href="@Url.Action("Index", new { vendor = "amd" })" class="vendorlink Amd @(Model.Vendor == UvTestViewer.Models.GpuVendor.Amd ? "selected" : "") ">
            <span>AMD</span>
        </a>
    </div>
    <div>
        @{ var failingTestCount = Model.Tests.Where(x => x.Failed).Count(); }
        @if (Model.TestRunID == 0) {
            <h3 class="testcount none">No tests run</h3>
        } else if (failingTestCount > 0) {
            <h3 class="testcount failed">@Model.Tests.Where(x => x.Failed).Count() failed</h3>
        } else {
            <h3 class="testcount passed">All tests passed</h3>
        }
    </div>
    @if (Model.TestRunID != 0) { 
        <div class="testrun-container">
            <div class="testrun"> 
                @foreach (var test in Model.Tests)
                {
                    <div class="test @(test.Failed ? "failed" : "passed")">
                        <table>
                            <thead>
                                <tr>
                                    <td colspan="3">@String.Format("{0}{1}", test.Name, test.Failed ? " (FAILED)" : String.Empty)</td>
                                </tr>
                                <tr>
                                    <td>Expected</td>
                                    <td>Actual</td>
                                    <td>Diff</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img class="expected" src="@test.Expected" /></td>
                                    <td><img class="actual" src="@test.Actual" /></td>
                                    <td><img class="diff" src="@test.Diff" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    }
    <div class="testrun-footer">
        <p>UvTestRunner is part of the <a href="http://uv.twistedlogik.net">Ultraviolet Framework</a>.</p>
    </div>
</body>
</html>
